@inline-sign-in-color: inherit;
@inline-sign-in-bg: @gray-lighter;
@inline-sign-in-bg-invalid: #f2dede;
@component-padding: 3px;

.inline-sign-in input {
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  background-color: @inline-sign-in-bg;
  max-width: 95px;
}

.inline-sign-in input:focus {
  max-width: 130px;
}

.inline-sign-in > .form-group {
  padding-left: @component-padding;
}

.inline-sign-in.invalid > input {
  background-color: @inline-sign-in-bg-invalid;
}

.inline-sign-in > .btn {
  margin-top: 0;
}

form:not(.inline-sign-in-dark) > .inline-user-sign-in-welcome {
  color: @inline-sign-in-color;
}

.inline-user-sign-in-welcome > label {
  padding-right: @component-padding;
}
