<div>
    <div class="alert alert-danger alert-dismissible" ng-if="validations && validations.length">
        <button type="button" ng-click="clearValidations()" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <div ng-repeat="val in validations">
            <strong>{{val.name}}</strong>
            <ul>
                <li ng-repeat="err in val.errors">{{err}}</li>
            </ul>
        </div>
    </div>
    <form class="form-horizontal" name="form">  
        <div class="form-group">            
            <label class="col-sm-3 control-label" for="userName">User Name</label>            
            <div class="col-sm-8">            
                <input ng-model="userAccount.userName" name="userName" class="form-control" type="text" id="userName" placeholder="User Name"  required> 
            </div>           
        </div>        
        <div class="form-group">            
            <label class="col-sm-3 control-label" for="firstName">First Name</label>            
            <div class="col-sm-8">                
                <input ng-model="userAccount.firstName" class="form-control" type="text" id="firstName" placeholder="First Name"  required>                
            </div>            
        </div>            
        <div class="form-group">                
            <label class="col-sm-3 control-label" for="lastName">Last Name</label>                
            <div class="col-sm-8">                    
                <input ng-model="userAccount.lastName" class="form-control" type="text" id="lastName" placeholder="Last Name"  required> 
            </div>               
        </div>             
        <div class="form-group">                
            <label class="col-sm-3 control-label" for="inputEmail">Email</label>         
            <div class="col-sm-8">                  
                <input ng-model="userAccount.email" class="form-control" type="text" id="inputEmail" placeholder="Email"  required>  
            </div>           
        </div>               
        <div class="form-group">                 
            <label class="col-sm-3 control-label" for="password">Password</label>           
            <div class="col-sm-8">          
                <input ng-model="userAccount.password" class="form-control" type="password" id="password" placeholder="Password" required> 
            </div>                  
        </div>                  
        <div class="form-group">      
            <label class="col-sm-3 control-label" for="confirmPass">Confirm Password</label>              
            <div class="col-sm-8">                   
                <input ng-model="userAccount.confirmPassword" class="form-control" type="password" id="confirmPass" placeholder="Confirm Password" required>              
            </div>                     
        </div>                 
        <div class="form-group">   
            <div class="col-sm-offset-3">         
                <button type="submit" ng-click="register()" ng-disabled="form.$invalid || isUnchanged(user)" class="btn btn-primary"> 
                    <i class="glyphicon glyphicon-ok"></i> Register                                   
                </button>                         
            </div>                         
        </div>                      
    </form>                    
</div>