<form class="form-inline" role="form">
    <div class="form-group">
        <div class="input-group" ng-class="{'has-error':typeaheadValue && !users.length}">
            <input class="form-control" type="text" placeholder="Enter a user's first and/or last name" ng-model="typeaheadValue"
                   typeahead="usr as usr.firstName + ' ' + usr.lastName for usr in query($viewValue)"  typeahead-on-select="user=$item">

            <span href="" ng-click="clearUserFinder()" class="input-group-addon">
                <i class="glyphicon glyphicon-remove"></i>
            </span>
        </div>
    </div>
</form>