<form class="{{$formClass}}" role="search" name="form" ng-class="invalid">
  <div ng-if="!user" class="form-group">
    <label ng-hide="isInline">User Name:</label>
    <input type="text" class="form-control" placeholder="User Name" ng-model="credentials.userName" required>
  </div>

  <div ng-if="!user" class="form-group">
    <label ng-hide="isInline">Password:</label>
    <input type="password" class="form-control" placeholder="Password" ng-model="credentials.password" required>
  </div>

  <div ng-if="!user" class="form-group">
    <div id="" class="btn-group" dropdown>
      <button id="sign-in"
              type="submit"
              class="btn btn-primary loading-inline-spinner loading-light loading-left"
              ng-disabled="form.$invalid || working"
              ng-click="signIn()"
              ng-class="{loading:working}">
        <span ng-hide="working">Sign in</span>
        <span ng-show="working">Working...</span>
      </button>
      <button type="button"
              class="btn btn-primary dropdown-toggle"
              ng-disabled="form.$invalid || working"
              ng-if="hasOnRegister || hasOnResetPassword"
              dropdown-toggle>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="sign-in">
        <li role="menuitem" ng-if="hasOnRegister">
          <a roles="123" href="" ng-click="onRegister()">
            <i class="glyphicon glyphicon-certificate"></i> Register
          </a>
        </li>
        <li role="menuitem" ng-if="hasOnResetPassword">
          <a href="" ng-click="onResetPassword()"><i class="glyphicon glyphicon-lock"></i> Reset Password</a>
        </li>
      </ul>
    </div>
  </div>

  <div ng-if="user" class="form-group inline-user-sign-in-welcome">
    <label for="accountActions">Welcome {{user.firstName || user.userName}}!</label>

    <div id="accountActions" class="btn-group" dropdown>
      <button type="button" class="btn btn-primary dropdown-toggle" dropdown-toggle>
        <i class="glyphicon glyphicon-user"></i> Account <span class="caret"></span>
      </button>
      <ul class="dropdown-menu pull-right" role="menu">
        <li ng-if="hasOnInfo">
          <a href="" ng-click="info()"><i class="glyphicon glyphicon-info-sign"></i> Account Info</a>
        </li>
        <li ng-if="hasOnChangePassword">
          <a href="" ng-click="changePassword()"><i class="glyphicon glyphicon-lock"></i> Change Password</a>
        </li>
        <li ng-if="hasOnInfo" class="divider"></li>
        <li><a href="" ng-click="signOut()"><i class="glyphicon glyphicon-log-out"></i> Sign Out</a></li>
      </ul>
    </div>
  </div>
</form>
